.statement {
  padding: 10;
  font-family: "News Cycle", sans-serif;
  font-size: 13px;
}
hr {
  background-color: #e8a317;
  color: #e8a317;
  border-color: #e8a317;
  height: 0.5vh;
  width: 80%;
}
.button {
  min-height: 40px;
  background-color: #e8a317;
  border-color: #e8a317;
  color: #fff;
  font-size: 20px;
}
.btn__div {
  margin-left: -60px;
  width: 100%;
  display: flex;

  color: #e8a317;
  justify-content: space-around;
  align-items: center;
}

/* .button {
  display: flex;
  justify-content: space-between;
  width: 22%;
  position: relative;
padding: 10px 45px;
  /* padding: 10px;

  padding-left: 30px;
  padding-right: 30px;
  background-color: #e8a317;
  color: white;
  border-color: #e8a317;
  border-radius: 20px;
} */
/* .button {
  background-color: #6772e5;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 7px 14px;
  z-index: 1000;
}
.button:hover {
  background-color: #5469d4;
}
.button-label {
  color: #fff;
} */
