*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
      background-color: #151B54;

}
.app >h1{
  display: flex;
  padding: 5px;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  color:white;

}

.button{
  display: flex;
  position: absolute;
  justify-content: space-between;
}
